
<md-content  >

    <!--Simple Multi-Item Slider-->
    <div class="main">
        <div id="mi-slider" class="mi-slider">
            <ul>

                <li><a href="#"><img src="js/Lib/slider/images/food/16.jpg" alt="img01"><h4>Drumsticks</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Shrimp.jpg" alt="img02"><h4>Garlic Shrimp</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Chickpeas.jpeg" alt="img03"><h4>Chickpeas</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Pretzels.jpg" alt="img04"><h4>Pretzel</h4></a></li>
            </ul>
            <ul>
                <li><a href="#"><img src="js/Lib/slider/images/food/Braised Pork and Chicken Rice.jpeg" alt="img05"><h4>Braised Pork and Chicken Rice</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Carebean Rice.jpeg" alt="img06"><h4>Carebean Rice </h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/chicken fried.jpeg" alt="img07"><h4>chicken fried</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/masalaydar.jpeg" alt="img08"><h4>masalaydar</h4></a></li>
            </ul>
            <ul>
                <li><a href="#"><img src="js/Lib/slider/images/food/carbonaras.jpeg" alt="img09"><h4>carbonaras</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Cheese and Almond pasta salad.jpeg" alt="img10"><h4>Cheese and Almond pasta salad</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Creamy  Dhal Macaroni.jpeg" alt="img11"><h4>Creamy  Dhal Macaroni</h4></a></li>
            </ul>
            <ul>
                <li><a href="#"><img src="js/Lib/slider/images/food/gazpacho.jpeg" alt="img12"><h4>gazpacho </h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Maldive fish murukku.Png" alt="img13"><h4>Maldive fish murukku</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Mix-Vegetable-And-Noodle-Soup.jpeg" alt="img14"><h4>Mix-Vegetable-And-Noodle-Soup</h4></a></li>
                <li><a href="#"><img src="js/Lib/slider/images/food/Quick-chicken-and-egg-drop-soup.jpeg" alt="img15"><h4>Quick-chicken-and-egg-drop-soup</h4></a></li>
            </ul>
            <nav>
                <a href="#">Spicy</a>
                <a href="#">Rice</a>
                <a href="#">Pasta</a>
                <a href="#">Soups</a>
            </nav>
        </div>
    </div>
    </div><!-- /container -->

    <script>
        $(function() {

            $( '#mi-slider' ).catslider();

        });
    </script>
    <!--End Slider-->



    <!--search restaurants according to the food item name and the current city -->
    <div layout="row">
        <div flex> <h1>Search By Favourite Food</h1></div>
        <div flex>
            <div layout="column">
                <div flex>
                    <md-input-container flex>
                        <label>Food Name</label>
                        <input required name="FoodName" ng-model="filters.foodName">
                        <div ng-messages="filters.foodName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container flex>
                        <label>City Name</label>
                        <input required name="CityName" ng-model="filters.location">
                        <div ng-messages="filters.location.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-button ng-click="searchResults()" class="md-raised md-primary">Search Restuarents</md-button>
                </div>
            </div>
        </div>
    </div>
<!--Print search results above dynamically-->
    <div layout="row">
        <div  ng-repeat="restuarent in restuarents"  flex>
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{restuarent.Restaurant_Name}}</span>
                    <span class="md-subhead">{{restuarent.NearestCity}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="viewRestuarent(restuarent)">View Restaurant</md-button >
                <md-button ng-click="viewAllRestuarents(restuarent)">View All Restaurants</md-button>
            </md-card-actions>
        </md-card>
        </div>
    </div>

    <!--search restaurants according to the restaurant-->
    <div layout="row">
        <div flex> <h1>Search By Favourite Restaurant</h1></div>
        <div flex>
            <div layout="column">
                <div flex>
                    <md-input-container  class="md-block">
                        <label>Select Restaurant</label>
                        <md-autocomplete md-selected-item="filters.restaurantName"
                                         md-search-text="filters.restaurantSearchText"
                                         md-items="item in querySearch(filters.restaurantSearchText)"
                                         md-item-text="item.Restaurant_Name"
                                         md-min-length="0"  name="Restaurant">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.Restaurant_Name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                       <div flex>
                            <!--<md-button ng-click="searchResults2()" class="md-raised md-primary">Search Restuarents</md-button>-->
                        </div>

                    </md-input-container>
                </div>
            </div>
        </div>
    </div>



    <!--Print search results above dynamically-->
    <div layout="row">
        <div  ng-repeat="restuarent in restuarents2"  flex>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{restuarent.Restaurant_Name}}</span>
                        <span class="md-subhead">{{restuarent.NearestCity}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="viewRestuarent(restuarent)" >View Restuarant</md-button>
                    <md-button ng-click="viewAllRestuarents(restuarent)">View All Restuarants</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <!--search restaurants according to the NearestCity-->
    <div layout="row">
        <div flex> <h1>Search By Nearest City</h1></div>
        <div flex>
            <div layout="column">
                <div flex>
                    <md-input-container flex>
                        <label>Nearest City</label>
                        <input required name="NearestCity" ng-model="filters.nearestCity">
                        <div ng-messages="filters.nearestCity.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-button ng-click="searchResults3()" class="md-raised md-primary">Search Restuarents</md-button>
                </div>
            </div>
        </div>
    </div>

    <!--Print search results above dynamically-->
    <div layout="row">
        <div  ng-repeat="restuarent in restuarents3"  flex>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{restuarent.Restaurant_Name}}</span>
                        <span class="md-subhead">{{restuarent.NearestCity}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="viewRestuarent(restuarent)">View Restaurant</md-button>
                    <md-button ng-click="viewAllRestuarents(restuarent)">View All Restaurants</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>




</md-content>
